@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

html,body,#__next{height:100%;}
body{background:#0D0D0D;color:#EDEDED;font-family:'Poppins',sans-serif;margin:0}
a{color:inherit}
